USE [ENGAGE_GDM]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 7/3/2020 01:22:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[id] [nvarchar](64) NOT NULL,
	[desc] [text] NULL,
 CONSTRAINT [PK_Test] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[PA_SYS_NUEVO_PROCESO]    Script Date: 7/3/2020 01:22:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PA_SYS_NUEVO_PROCESO] (@PS_PKEY_CUSTOMER VARCHAR(60), @PS_PKEY_CAMPAIGN VARCHAR(36) = NULL, @PS_JOB_TYPE_CODE VARCHAR(20) = NULL, @PS_UNIT_CODE VARCHAR(100) = NULL, @PS_USER_ID VARCHAR(30) = NULL, @PS_PARENT_JOB_PKEY VARCHAR(100) = NULL, @PS_COLS_ENTIDAD_PRINCIPAL VARCHAR(4000) = NULL, @PS_VALORES_ENTIDAD_PRINCIPAL VARCHAR(4000) = NULL, @PS_COLS_TRAMITE_PADRE VARCHAR(4000) = NULL, @PS_PKEY_JOB VARCHAR(36) = NULL OUTPUT, @PS_RET_MESSAGE VARCHAR(440) = NULL OUTPUT) 
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT GETDATE();

END
GO
