USE [WAConnector]
GO
/****** Object:  Table [dbo].[WACMessage]    Script Date: 7/3/2020 01:29:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WACMessage](
	[id] [nvarchar](64) NULL,
	[body] [nvarchar](255) NULL,
	[author] [nvarchar](50) NULL,
	[dateCreated] [datetime] NULL,
	[dateUpdated] [datetime] NULL,
	[dateSent] [datetime] NULL,
	[direction] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[chatId] [nvarchar](64) NULL,
	[receiver] [nvarchar](50) NULL,
	[sender] [nvarchar](50) NULL,
	[time] [datetime] NULL,
	[event] [nvarchar](50) NULL,
	[spanId] [nvarchar](64) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WACSessionSpan]    Script Date: 7/3/2020 01:29:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WACSessionSpan](
	[id] [nvarchar](64) NOT NULL,
	[initSpan] [datetime] NULL,
	[endSpan] [datetime] NULL,
	[cel1] [nvarchar](50) NULL,
	[cel2] [nvarchar](50) NULL,
 CONSTRAINT [PK_WACSessionSpan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WACUser]    Script Date: 7/3/2020 01:29:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WACUser](
	[id] [int] NULL,
	[name] [nvarchar](100) NULL,
	[phoneNumber] [nvarchar](50) NULL,
	[rol] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[WACMessage] ([id], [body], [author], [dateCreated], [dateUpdated], [dateSent], [direction], [status], [chatId], [receiver], [sender], [time], [event], [spanId]) VALUES (N'SMbc84aee93666ce21827a1984b44b290d', N'Chj', N'+5492215455520', CAST(N'2018-12-26T16:29:07.000' AS DateTime), CAST(N'2018-12-26T16:29:07.000' AS DateTime), CAST(N'2018-12-26T16:29:07.000' AS DateTime), N'in-webhook', N'received', N'+5492215455520', N'+14155238886', N'+5492215455520', CAST(N'2018-12-26T16:29:07.000' AS DateTime), NULL, N'03c5c893d7d60425d3f468b4126e84f9')
INSERT [dbo].[WACMessage] ([id], [body], [author], [dateCreated], [dateUpdated], [dateSent], [direction], [status], [chatId], [receiver], [sender], [time], [event], [spanId]) VALUES (N'SMbce9eb7d7ad60b23efac21a221e5bbac', N'Fhg', N'+5492215455520', CAST(N'2018-12-26T20:44:41.000' AS DateTime), CAST(N'2018-12-26T20:44:41.000' AS DateTime), CAST(N'2018-12-26T20:44:41.000' AS DateTime), N'in-webhook', N'received', N'+5492215455520', N'+14155238886', N'+5492215455520', CAST(N'2018-12-26T20:44:41.000' AS DateTime), NULL, N'9cb78aff90c1a1c18aa09d6a6ebb865a')
INSERT [dbo].[WACMessage] ([id], [body], [author], [dateCreated], [dateUpdated], [dateSent], [direction], [status], [chatId], [receiver], [sender], [time], [event], [spanId]) VALUES (N'SMccb117d1bda64fa9bcade4e3d91e34ba', N'dfg df', N'+14155238886', CAST(N'2018-12-27T20:48:07.000' AS DateTime), CAST(N'2018-12-27T20:48:07.000' AS DateTime), NULL, N'outbound-api', N'queued', N'+14155238886', N'+5492215455520', N'+14155238886', CAST(N'2018-12-27T17:48:05.000' AS DateTime), NULL, N'd61fbcdc8729a1db2903657615db2fac')
GO
INSERT [dbo].[WACSessionSpan] ([id], [initSpan], [endSpan], [cel1], [cel2]) VALUES (N'02f15a4821a9c6e3b515ea334936feac', CAST(N'2018-12-27T18:07:55.000' AS DateTime), CAST(N'2018-12-27T18:09:46.000' AS DateTime), N'+5492215455520', N'+14155238886')
INSERT [dbo].[WACSessionSpan] ([id], [initSpan], [endSpan], [cel1], [cel2]) VALUES (N'039f4db03390f53a4eec340677189f2b', CAST(N'2018-12-26T17:27:21.000' AS DateTime), CAST(N'2018-12-26T17:29:16.000' AS DateTime), N'+5492215455520', N'+14155238886')
INSERT [dbo].[WACSessionSpan] ([id], [initSpan], [endSpan], [cel1], [cel2]) VALUES (N'03c5c893d7d60425d3f468b4126e84f9', CAST(N'2018-12-26T16:29:07.000' AS DateTime), CAST(N'2018-12-26T16:31:08.000' AS DateTime), N'+5492215455520', N'+14155238886')
INSERT [dbo].[WACUser] ([id], [name], [phoneNumber], [rol]) VALUES (1, N'Elvio Fernandez', N'+5492215455520', N'user')
INSERT [dbo].[WACUser] ([id], [name], [phoneNumber], [rol]) VALUES (2, N'Ejecutivo1', N'+14155238886', N'ejecutivo')
INSERT [dbo].[WACUser] ([id], [name], [phoneNumber], [rol]) VALUES (3, N'Leo de Marco', N'+5492215455520', N'user')
